# Week1-Orientation ------------------------------------------------------------

W01_Class-Orientation/V1-WebDev and Devops Orientation/notes/HTML,CSS and cloning.pdf

W01_Class-Orientation/V1-WebDev and Devops Orientation/Screenshots

W01_Class-Orientation/V2-Basics of JS/node_modules

W01_Class-Orientation/V2-Basics of JS/notes/BasicsOfJS.pdf

W01_Class-Orientation/V2-Basics of JS/screenshots


# Week1-Offline-Warmup ------------------------------------------------------------
W01_off_Cohort2_Warmup/screenshots


# Week2-AsyncJS ------------------------------------------------------------

W02_AsyncJS/V1_Async JS/screenshots
W02_AsyncJS/V2_Promises/screenshots

# W2_Offline ------------------------------------------------------------

# W02_Offline/V1_BashandTerminal

# W02_Offline/V2_BashAdvance

# W02_Offline/V3_InstallingNode and doing Assignments

# W02_Offline/V4_VsCodeAssignment

# W02_Offline/V5_CallbackHell,Rejects and ASync Await

# Week3-DOM ------------------------------------------------------------

# W03_DOM/V1_DOM Simple
W03_DOM/V2_DOM Advance/screenshots_someThingsHarkiratDidTakeALook


# W04-NodeJs and HTTP ------------------------------------------------------------

W04_Node.Js and HTTP/V1_NodeJs,Bun and JS runtime/proj/node_modules
W04_Node.Js and HTTP/V2_HTTP Servers/todoBackend/node_modules

# W4-Offline ------------------------------------------------------------

W04_offline/V1_HTTP and Express/node_modules
W04_offline/V2_Middlewares/simpleExpressApp/node_modules

# W5-HTTP and Middlewares ------------------------------------------------------------
W05_HTTP and Middlewares/V1_Header,QueryParamsANDExpress/learn1/node_modules
W05_HTTP and Middlewares/V2_MiddlewaresAndCors/code/node_modules
W05_HTTP and Middlewares/V2_MiddlewaresAndCors/inClassAssign/node_modules

# W5-offline ------------------------------------------------------------

# W05_Offline/V1_GitandGithub
# W05_Offline/V2_Map_Filter_ArrowFunction
W05_Offline/V3_Axios_vs_Fetch/node_modules

# W6-HTTP Deep Dive ------------------------------------------------------------

W06/V1_HTTPDeepDive/backend/node_modules
W06/V2_AuthAndConnectingFEtoBE/backend/node_modules
W06/V2_AuthAndConnectingFEtoBE/todoFullStack/backend/node_modules

# W6-offline ------------------------------------------------------------

# W06-offline/V1_JWT and Auth Recap
# W06-offline/V2_MongoInstallation

# W7-mongoDB ------------------------------------------------------------

W07_MongoDB/V1_MongoDB/.env
W07_MongoDB/V1_MongoDB/LearningBackend/node_modules
W07_MongoDB/V2_Passwords, ZOD/mongoBasicDB/node_modules
W07_MongoDB/V2_Passwords, ZOD/mongoBasicDB/.env

# W8-CourseSellingApp ------------------------------------------------------------

# W8_CourseSellingApp/V1_CourseSellingApp_BackendP1/png
W08_CourseSellingApp/V1_CourseSellingApp_BackendP1/backend_CourseSellingApp/.env
W08_CourseSellingApp/V1_CourseSellingApp_BackendP1/backend_CourseSellingApp/node_modules
W08_CourseSellingApp/V1_CourseSellingApp_BackendP1/backend_CourseSellingApp/node_modules

# W8_CourseSellingApp/V2_CourseSellingApp_BackendP2


# W08-offline ------------------------------------------------------------
# W08_Offline/V1_Mongo Deep Dive



# W9-React ------------------------------------------------------------
# W09_React/V1_React Basics/
W09_React/V2_React UseState/vite/basicUnstyledReact/node_modules
W09_React/V3_Recorded_React from basics/Basics/node_modules
W09_React/V4_React from Basics_Part2/learningBasicTwo/node_modules

# W10-React_P2  ------------------------------------------------------------

W10_React_P2/V1_SPAs_Routing/SPA/node_modules
W10_React_P2/V2_ContextAPI_RollingUpTheState/contextAPILearn/node_modules

# W11-React_P3 ------------------------------------------------------------

W11_React_P3/V1_CustomHooks/customHooksLearning/node_modules
W11_React_P3/V1_CustomHooks/CustomHooksLearningAgain/customHooks/node_modules
W11_React_P3/V2_Recoil/recoilLearn/node_modules
W11_React_P3/V3_RecoilDeep/KiratsRepoForLearning/
W11_React_P3/V3_RecoilDeep/MyLearning/backend/node_modules
W11_React_P3/V3_RecoilDeep/MyLearning/recoilAdvance/node_modules

# ----------------------------CUSTOMISE THIS PART LATER--------------------------------------------------------------------

# W12-UI/UX ------------------------------------------------------------
W12_UI-UX/V1_UI_UX_PremitivesByKeshav_P1/*.png
# W12_UI-UX/V2__UI_UX_PremitivesByKeshav_P2

# W13-tailwind ------------------------------------------------------------
W13_Tailwind/V1_Tailwind_P1/frontend/homework/node_modules
W13_Tailwind/V1_Tailwind_P1/frontend/homework_more/node_modules
W13_Tailwind/V1_Tailwind_P1/*.png
W13_Tailwind/V2_Tailwind_P2/*.png
W13_Tailwind/V2_Tailwind_P2/responsivePage/node_modules

# W14-typescript ------------------------------------------------------------
W14_TypeScript/V1_TS_P1/*.png
W14_TypeScript/V1_TS_P1/learningTS/dist
W14_TypeScript/V1_TS_P1/learningTS/node_modules

W14_TypeScript/V2_TS_P2/*.png
W14_TypeScript/V2_TS_P2/Learn/node_modules
W14_TypeScript/V2_TS_P2/Learn/dist
W14_TypeScript/V3_TS_advance/*.png
W14_TypeScript/V3_TS_advance/TS_advance/node_modules
W14_TypeScript/V3_TS_advance/TS_advance/build

# W15-GuidedProject-Brainly ------------------------------------------------------------

W15_GuidedProject_Brainly/V1_EndToEnd-SecondBrainApp/*.png
# W15_GuidedProject_Brainly/V1_EndToEnd-SecondBrainApp/

W15_GuidedProject_Brainly/V2_CreatingUILibrary/*.png
# W15_GuidedProject_Brainly/V2_CreatingUILibrary/


W15_GuidedProject_Brainly/V3_BrainlyEndToEnd/*.png

# W16-WebSockets ----------------------------------------------------------------------------

W16_WebSockets/V1_IntroToWebsckets/*.png
W16_WebSockets/V1_IntroToWebsckets/WebSocketsLearning/node_modules

# W16_WebSockets/V2_ChatApp

# W17-Postgress and SQL -------------------------------------------------------------------------

W17_Postgress__SQL/V1_Postgress_SQL_P1/*.png
W17_Postgress__SQL/V1_Postgress_SQL_P1/postgreSLearn/dist
W17_Postgress__SQL/V1_Postgress_SQL_P1/postgreSLearn/node_modules
W17_Postgress__SQL/V1_Postgress_SQL_P1/postgreSLearn/.env

W17_Postgress__SQL/V2_Postgress_SQL_P2/*.png
W17_Postgress__SQL/V2_Postgress_SQL_P2/postgreLeaern/dist
W17_Postgress__SQL/V2_Postgress_SQL_P2/postgreLeaern/node_modules
W17_Postgress__SQL/V2_Postgress_SQL_P2/postgreLeaern/.env

# W18- PRISMA -----------------------------------------------------------------------------------
W18_Prima_ORMs/V1_Prisma/*.png
W18_Prima_ORMs/V1_Prisma/prismaLearn/dist

W18_Prima_ORMs/V2_Prisma Advance and ORMs/*.png
W18_Prima_ORMs/V2_Prisma Advance and ORMs/create-vite
W18_Prima_ORMs/V2_Prisma Advance and ORMs/NEXT/


# W19- NextJs -----------------------------------------------------------------------------------

W19_NextJS_Backend/V1_NextJS Advance/*.png

# W20- NextJs Advance-----------------------------------------------------------------------------------

W20_NextJs_Advance/V1_NextJsAdvance/*.png

W20_NextJs_Advance/V2_NextAuth/*.png